section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem;
}

img {
  width: 80%;
  height: 150%;
  object-fit: cover;
  display: block;
}

h1 {
  font-size: 2.5em;
}


#test {
  margin-top: 190px;
  margin-left: auto;
  margin-right: auto;
}

#prograds {
  background: rgb(211, 211, 211);
}

.button {
  background-color: orangered;
  color: white;
  margin-left: 250px;
  padding: 15px 40px;
  margin-right: auto;
}

#form {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-top: 50px;
  margin-left: 30%;
  margin-right: auto;
}

input {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
