<section>
  <article class='grid-item'>
    <h1 style="color: orangered;">Hear It From Our</h1>
    <h1 style="color: orangered;">Prograds</h1>
    <p>
      Being a Prograd is a Life-time Experience.In the Past,We have serval times tried showing the world
      what is to be a Prograd.But,we soon realised that no one can better describe this journey
      than Our Prograds themselves
    </p>
    <p><strong>So here we are with a mission to let the world hear it from Prograd</strong></p>
    <p style="color: orangered;"><strong>#Proud ProGrads #Your Dream Our Mission</strong></p>
  </article>
  <img class='grid-item' src="../../assets/success.png" alt="photo">

</section>
<div id="test">
  <h2>Here is What our Prograds has to say</h2>
  <div id="prograds">
    <p>
      <strong>PRAVESH, FSDOA0221</strong><br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Deserunt dignissimos veritatis fugiat alias voluptas repellendus ea dolore. Iure, consectetur ducimus
      consequuntur perferendis aliquid fugit labore totam asperiores ipsum sapiente quisquam.
    </p>
    <br>
    <p>
      <strong>GANESH, FSDOA0221</strong><br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Deserunt dignissimos veritatis fugiat alias voluptas repellendus ea dolore. Iure, consectetur ducimus
      consequuntur perferendis aliquid fugit labore totam asperiores ipsum sapiente quisquam.
    </p>
  </div>
</div>
<div id="form">
  <label for="Name">Name</label><br>
  <input type="text" placeholder="Enter your name"><br>
  <label for="Share Your Experience">Share Your Experience</label><br>
  <input type="text" placeholder="My Journey as a Prograd was ..."><br>
  <button class='button' size="30">Post</button>
</div>
